

  .main {
   background-color: white;
   /* padding: 0px 70px; */
   width: 40vw;
   height: 90vh;
   position: absolute;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 10px;
   border: 2px solid grey;
   box-shadow: 4px 4px 4px 4px grey;
}
.card{
    margin: 10% 20%;    
}

.input{
    width: 25vw !important;
    margin-bottom: 10px !important;
    padding: 1px !important;
    background-color: aliceblue !important;
}
.Calender{
    /* border: 1px solid; */
    height: 2rem;
    display: flex;
    gap: 20px;
    /* justify-content: space-between !important; */
    width: 80%;
    margin: auto;
    
 }

 .Calender > select{
    width:50% ;
    height: 100%;
 }
 .btn{
    border-radius: 20px !important;
    width: 25vw;
    background-color: blue;
  
    text-transform: none !important;
    /* background-color: rgb(255, 255, 255) !important; */
    color: white !important;
    font-size: 5px !important;
 }
 .btn1{
    color: white !important;
    text-decoration: none;
 }