.searchBar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    background-color: white;
}

.searchInput {
    border: none;
    width: 100%;
    outline: none;
    background: #eff3f4;
    border-radius: 50px;
    color: black;
    padding: 0.93rem 2rem;
    font-size: 1rem;
}

.searchButton {
    position: absolute;
    top: 50%;
    left: 15rem;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

.searchButton:focus {
    outline: none;
}

.searchButton:hover {
    opacity: 0.8;
}

svg {
    font-size: 1.1rem;
    color: silver;
}

@media (max-width: 767px) {
    .searchBar {
        padding: 0.5rem;
    }
    .searchInput {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
    .searchButton {
        right: 0.3rem;
    }
    svg {
        font-size: 0.9rem;
    }
}


/* For screens larger than 768px */

@media (min-width: 768px) {
    .searchBar {
        padding: 1rem;
    }
    .searchInput {
        padding: 0.93rem 2rem;
        font-size: 1rem;
    }
    .searchButton {
        right: 0.5rem;
    }
}