/* body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

.app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}


.homeContainer {
    display: flex;
    width: 100%;
    height: 38rem;
    display: flex;
}

.LeftSideBar {
    width: 25%;
    height: 100%;
    display: flex;
}

.RightSidebar {
    width: 25%;
    height: 100%;
    display: flex;
}

.TweetContainer {
    width: 50%;
}

@media (max-width: 768px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
} */
body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
    height: 100vh;
    width: 107vw;
}

.app {
    display: flex;
    height: 100vh;
    /* max-width: 1000px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* padding: 0 10px; */
}

.homeContainer {
    display: flex;
    width: 100%;
    height: 38rem;
    /* justify-content: flex-start; */
    /* margin-top: 0%; */
}

.LeftSideBar {
    /* margin-top: 0%; */
    width: 20%;
    height: 100%;
    display: flex;
    /* border: 2px solid blue; */
}

.RightSidebar {
    width: 25%;
    height: 30%;
    display: flex;
    margin-left: 30%;
}

.TweetContainer {
    width: 50%;
    height: 100vh;
    overflow: scroll;
    /* border: 2px solid blue; */
}

@media (max-width: 768px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}