body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

.app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.homeContainer {
    display: flex;
    width: 100%;
    height: 38rem;
    display: flex;
}

.LeftSideBar {
    width: 25%;
    height: 100%;
    display: flex;
}

.RightSidebar {
    width: 25%;
    height: 100%;
    display: flex;
}

.TweetContainer {
    width: 50%;
}

@media (max-width: 768px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}