.post {
    display: flex;
    align-items: flex-start;
    /* border-bottom: 1px solid var(--twitter-background); */
    padding-bottom: 10px;
    padding: 20px;
    width: 100%;
    border-right: 1px solid #EFF1F1 !important ;
    border-left: 1px solid #EFF1F1 !important ;
    /* height: 400px; */
    /* overflow: scroll; */
    /* border: 2px solid red; */
  
  }
  
  .post:hover {
    background-color: #eff1f1;
  }
  .post:hover.post-title {
    color: var(--twitter-accent);
  }
  .post__body {
    flex: 1;
    padding: 10px;
    /* border: 1px solid red; */
  }
  
  .image {
    width: 92%;
    height: 15rem;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 91%;
  }

  .commentCount{
    margin-left: 25px;
    margin-top: -23px;
  }
  .name{
    display: flex;
    flex-direction: row;
  }
  .post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .post_headerText > h3 {
    font-size: 14px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
  
  .badgeDiv {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    margin-top: 2px;
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }
  
  .post_headerDescription {
    /* border: 1px solid red; */
    margin-left: 0.5rem;
  }
  
  .post_headerDescription > p {
    width: 92%;
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  @media (max-width: 768px) {
  }